/* styles/global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  background: #f5f5f5;
}

img {
  width: 100%;
  display: block;
}
